@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	background-color: hsl(0, 0%, 100%);
	color: hsl(228, 12%, 44%);
}

h1, h2, h3, h4, h5, h6 {
	color: hsl(230, 17%, 14%);
}

.container {
	max-width: 1440px;
	padding: 0 2.5em;
}